.comment_wrap
  .comment_title
    = comment.user.first_name
  - if comment.active?
    .comment_real_body
      .comment_details
        = show_gravatar_for(comment.user)
        = "#{t(:posted)}: #{comment.created_at}"
      .comment_body
        %pre= comment.comment
        = form_for comment, :url => {:controller => 'comments', :action => "update", :id => comment.id} do |c|
          = c.submit "Hide Comment"
  - else
    .comment_real_body{ :style => 'display: none;' }
      .comment_details
        = show_gravatar_for(comment.user)
        = "#{t(:posted)}: #{comment.created_at}"
      .comment_body
        %pre= comment.comment
        = form_for comment, :url => {:controller => 'comments', :action => "update", :id => comment.id} do |c|
          = c.submit "Hide Comment"
