%h2 Description
.gradient_border_wrap
  .gradient_border_content
    %p
      = @work_unit.description
    %h3 Hours
    %p
      = @work_unit.hours
    %h3 Scheduled At
    %p
      = @work_unit.scheduled_at
    %h3 Ticket
    %p  
      = @ticket.to_s
    %h3 Project
    %p  
      = @project.to_s
    %h3 Client
    %p
      = @client.to_s
    .actions
      %ul
        %li= link_to "Back to work units", dashboard_work_units_path
